requests
beautifulsoup4
pandas
pillow
tqdm
# Para el reconocimiento facial
insightface
onnxruntime
numpy
# Para el procesamiento de video
opencv-python-headless
streamlink
# Para automatización de navegador
selenium
webdriver-manager
